<p-panel header="Pipes Numéricos" showHeader="true" class="p-1">
  <p>
    Pipes inlcuidos en Angular - Usualmente en el Common Module
  </p>
</p-panel>

<div class="grid">

  <div class="col-12 md:col-4">
    <p-card header="Ventas Netas" subheader="Del Presente Año">
      {{ totalSells | number:'1.2-2' }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ventas Brutas" subheader="Del Presente Año">
      {{ totalSells | currency:'USD':'symbol':'1.2-2' }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ganancia Porcentual" subheader="Del Presente Año">
      {{ percent | percent:'1.2-2' }}
    </p-card>
  </div>



</div>

